.logo_place_header {
  height: 31px;
  width: 154px;
  position: absolute;
  left: 64px;
  top: 30px;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
}

.section-title {
  margin: 0 0 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.section-title_theme_dark {
  color: white;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  width: 60%;
  color: white;
  text-align: center;
  margin: 0;
}

.table {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  margin-bottom: 0;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__heading_theme_dark {
  color: white;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.table__text:first-of-type {
  margin-top: 0px;
}

.table__text_theme_dark {
  color: white;
}

.feynman {
  z-index: 1;
  background: #f2f2f2;
  min-height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  width: 775px;
  margin: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin-bottom: 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  text-decoration: underline;
}

.feynman__img {
  z-index: -1;
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  z-index: 1;
  padding: 90px 0;
  background: #1f1f1f;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kaufman__triangle {
  z-index: -1;
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
}

.footer {
  box-sizing: border-box;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
  background: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
